<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Configuración General"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf002;"></Label>
    <FlexboxLayout flexDirection="row">
        <Label text="Nombre de usuario:" color="blue" fontSize="14" margin="3" backgroundColor="lightblue"></Label>
        <Label [text]="nombreUsuario"  color="blue" fontSize="16" margin="3"></Label>
    </FlexboxLayout>
    <Button text="Modificar nombre de usuario" [nsRouterLink]="['especifica']" pageTransition="slide" clearHistory="true"></Button>
</StackLayout>

