<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label text="Detalle"></Label>
</ActionBar>
<StackLayout class="page__content">

    <GridLayout columns="*,3*" rows="auto,auto,auto" backgroundColor="lightgray" verticalAlignment="top">
        <Label text="Id: " row=0 col="0" color="blue" fontSize="14" margin="3" backgroundColor="lightblue"></Label>
        <Label text="Nombre: " row=1 col="0" color="blue" fontSize="14" margin="3" backgroundColor="lightblue"></Label>
        <Label text="Categoría: " row=2 col="0" color="blue" fontSize="14" margin="3" backgroundColor="lightblue"></Label>
        <Label [text]="this.opcion.nombre" row=0 col="1" textWrap="true" minHeight="50" fontSize="20" margin="3" backgroundColor="lightyellow"></Label>
        <Label [text]="this.opcion.id" row=1 col="1" textWrap="true"  minHeight="50" fontSize="20" margin="3" backgroundColor="lightyellow"></Label>
        <Label [text]="this.opcion.categoria" row=2 col="1" textWrap="true" minHeight="50" fontSize="30" margin="3" backgroundColor="lightyellow"></Label>
        <Label row="2" col="1" horizontalAlignment="right" verticalAlignment="middle" class="fas" margin="3" fontSize="20" text="&#xf013;" (longPress)="onLongPress()"></Label>
    </GridLayout>

    <Button text="Eliminar Opción" (tap)="eliminar()" class="-primary -rounded-lg"></Button>
    <Button text="Regresar" (tap)="regresar()" class="-primary -rounded-lg"></Button>
</StackLayout>
